<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            Swal.fire({
                position:"top-end",
                title: "<%= type === 'success' ? 'Success' : 'Error' %>",
                text: "<%= message %>",
                icon: "<%= type %>",
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                window.location.href = '';
            });
        });
    </script>
</body>
</html>

